.about {
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.about-header {
    display: inline-block;
}

.about-header h2 {
    font-size: 2.5rem;
    color: white;
    margin: 25px;
    position: relative;
}

.about-header h2::before {
    width: 15px;
    height: 5px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    content: '';
    top: calc(50% - 5px);
    left: -35px;
}

.about-header h2::after {
    width: 15px;
    height: 5px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    content: '';
    top: calc(50% - 5px);
    right: -35px;
}

.about-content {
    width: 90%;
    max-width: 1500px;
    min-height: 0;
    background-color: #fff;
    display: flex;
    padding: 25px;
    padding-top: 50px;
    margin-top: 25px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-content-row {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

.about-info {
    width: 50%;
    min-height: 100px;
}

.about-info h2 {
    text-align: center;
    padding: 18px 0;
    font-size: 1.6rem;
    color: #3c7cb9;
}

.about-info p {
    padding: 15px 0;
    font-size: 1.2rem;
}

.about-picture {
    width: 50%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-picture img {
    width: 500px;
    height: 350px;
}

@media screen and (max-width: 1250px) {
    .about-content-row {
        flex-direction: column;
    }
    .about-info {
        width: 100%;
        margin-bottom: 25px;
    }
    .about-content-row:nth-child(2) {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 700px) {
    .about-header h2 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 600px) {
    .about-picture img {
        width: 350px;
        height: 250px;
    }
}