body {
    background-image: linear-gradient(to right bottom, #0000ff, #ff0000);
}

.bible-series {
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid white;
    margin: 0 auto;
}


.bible-series-header {
    font-size: 2.5rem;
    color: white;
    position: relative;
    padding-top: 100px;
    text-align: center;
}

.bible-series-header h2 {
    font-size: 2.5rem;
    color: white;
    margin: 25px;
    position: relative;
}

.bible-series-header h2::before {
    width: 15px;
    height: 5px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    content: '';
    top: calc(50% - 5px);
    left: -35px;
}

.bible-series-header h2::after {
    width: 15px;
    height: 5px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    content: '';
    top: calc(50% - 5px);
    right: -35px;
}

#accordian {
    padding-top: 75px;
    margin: 0 auto;
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#accordian li {
    list-style: none;
    width: 100%;
    max-width: 900px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}

#accordian li label {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #c20000;
}

#accordian li label span {
    transform: rotate(90deg);
    font-size: 22px;
    color: #333;
    ;
}

#accordian label+input[type="radio"] {
    display: none;
}

#accordian .content {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#accordian label+input[type="radio"]:checked+.content {
    max-height: 400px;
}

.content iframe, .trailer-content iframe {
    width: 80%;
    max-width: 600px;
    border-radius: 22px;
}

.trailer-content {
    width: 100%;
    max-width: 800px;
    min-height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 25px 0;
}

.trailer-content h2 {
    color: #3c7cb9;
    padding: 15px;
    width: 90%;
    font-weight: lighter;
    font-size: 32px;
}

.trailer-content p {
    color: #000;
    width: 70ch;
    padding: 10px;
    font-size: 20px;
}

.trailer-content ul {
    padding: 5px 35px;
}

.trailer-content ul li {
    color: #000;
    padding: 5px 10px;
    list-style: disc;
    font-size: 20px;
}

.enroll-now {
    width: 90%;
    max-width: 500px;
    background-color: lightgrey;
    margin: 15px 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.enroll-now h3 {
    color: #3c7cb9;
    padding: 15px 5px;
    font-size: 24px;
}

.enroll-now button {
    background-color: brown;
    max-width: 342.5px;
    width: 100%;
    height: 49px;
    background-color: #3c7cb9;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    .trailer-content h2 {
        width: 100%;
    }
    
    .trailer-content p {
        width: 90%;
    }
    .trailer-content iframe {
        width: 100%;
    }
}