.welcome {
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.welcome-header {
    display: inline-block;
}

.welcome-header h2 {
    font-size: 2.5rem;
    color: white;
    margin: 25px;
    position: relative;
}

.welcome-header h2::before {
    width: 15px;
    height: 5px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    content: '';
    top: calc(50% - 5px);
    left: -35px;
}

.welcome-header h2::after {
    width: 15px;
    height: 5px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    content: '';
    top: calc(50% - 5px);
    right: -35px;
}

.welcome-content {
    width: 90%;
    max-width: 1500px;
    min-height: 0;
    padding: 25px;
    margin-top: 25px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.welcome-content iframe {
    width: 100%;
    height: calc(1080px / 1.5);
    max-width: calc(1920px / 2);
    max-height: calc(1080px / 2);
    border-radius: 8px;
}